/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.header {
  padding: 20px 15px;
}
.main {
  padding: 0px 15px;
}
.header-container {
  background-color: rgba(16, 144, 216, 0.1);
}
.main-title {
  font-weight: 700;
  font-size: 30px;
  color: rgba(17, 17, 17, 0.8);
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(17, 17, 17, 0.6);
}
.header-button {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  padding: 9px 38px;
  background-color: rgba(16, 144, 216, 1);
  border-radius: 6px;
  margin-top: 18px;
  margin-right: 20px;
}
.claculate-btn {
  background-color: #1090d8;
}
.area-calculation {
  /* border: 1px solid gray; */
}
.object-photo {
  height: 185px;
}
